body {
background-image: url("../images/background.png");
background-repeat: repeat;
background-size: cover;
}

.bigtitle {
	font-family: 'arial black';
	text-transform: uppercase;
	text-align: center;
	font-size: 4.5rem;
	color: white;
}

.navbar {
	font-family: 'Arial Black';
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	background-color: #2500ffff;
}

.nav-link {
	color: white;
	margin-left: 10px;
}

.video {
	border: 0px;
	
}

.nav-link:hover {
	color: #fc7a68;
}

.subheading {
	font-family: 'Arial Black';
	Text-transform: uppercase;
	Color: white;
	font-size: 40px;
	text-align: center;
	margin-top: 20px;
}

.subheading2 {
	font-family: 'Arial Black';
	Text-transform: uppercase;
	Color: white;
	font-size: 40px;
	text-align: center;
	margin-top: -1rem;
}

.subheading3 {
	font-family: 'Arial Black';
	Text-transform: uppercase;
	Color: white;
	font-size: 40px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: -10px;
}

.subheading4 {
	font-family: 'Arial Black';
	Text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: -10px;
}


#description {
	font-size: 20px;
	
}

.heading2 {
	font-family: 'Arial Black';
	text-transform: uppercase;

	font-size: 30px;
	color: white;
	margin-top: 30px;
	text-align: center;
	margin-bottom: -1.8rem;
}

.text-body {
	font-family: 'Quicksand', sans-serif;
	text-align: center;

}

.carousel {
	height: 28rem;
}

#exampleInputPassword1 {
	height: 120px;
}


.hyperlinks {
	color: white;
}

.hyperlinks1 {
	color: #2500ffff;

}

.hyperlinks1:hover {
	color: white;
}

.hyperlinks:hover {
	color: #fc7a68;
}

.btn {
	font-family: 'Arial Black';
	text-transform: uppercase;
	align-self: center;
}

#buttontag {
	background-color: #2500ffff;
	border-color: transparent;
	margin-left: 10rem;
}

#buttontag2 {
	background-color: #2500ffff;
	border-color: transparent;
	margin-left: 10rem;

}

.explorericon {
    margin-left: 66px;
}

#partnericon {
	margin-left: 26px;
	margin-top: 40px;
	margin-bottom: 10px;
}

footer {
	background-color: #2500ffff;
	margin-top: 3rem;
	width: 100%;
	height: 85px;

}

.footertext {
    Color: white;
    font-size: 40px;
    font-family: 'Arial Black';
    Text-transform: uppercase;
    clear: left;
}

.footerimage {
    margin: 5px;
    margin-top: 3px;
    margin-bottom: 5px;
    clear: both;
    float: none;
}
.thee {
	font-family: arial Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: #2500ffff;
	text-align: center;
}.thee1 {
	font-family: arial Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: #fc7a68;
		text-align: center;
}.thee2 {
	font-family: arial Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: #c9b9eb;
	text-align: center;
}
.bundletext {
	font-family: 'Arial Black', 'sans-serif';
	text-align: center;
	font: bold;
}
.bundletitle {
	font-family: 'arial black';
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
	color: white;
}
.row .col h2 {
    background-color: rgba(255,255,255,1.00);
	color: black;
}
body row {
    background-color: rgba(246,246,246,1.00);
}
.backgroundblock {
	background: white;
	font-family: 'arial black';
	color: #fc7a68;
	text-align: center;
}
.text-testimonial {
    font-family: 'Quicksand', sans-serif;
    background: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.backgroundblock2 {
	background: white;
	font-family: 'arial black';
	color: #c9b9eb;
	text-align: center;
}
.backgroundblock3 {
	background: white;
	font-family: 'arial black';
	color: #2500ffff;
	text-align: center;
}
.backgroundblock4 {
	background: white;
	color: #fc7a68;
	text-align: left;
}
.gallery {
	margin: 1px;
}
.text-body {
	font-family: 'Quicksand', sans-serif;
	text-align: left;

}
